# https://github.com/tkt-actions/add-issue-links/blob/next/.github/workflows/issue-link.yml

name: 'Issue Links'
on:
  pull_request:
    types: [opened]

jobs:
  issue-links:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: tkt-actions/add-issue-links@v1.8.2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          branch-prefix: '^'
          resolve: 'true'
